<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/87271c49-dc91-48f0-bd47-d97679343051/resourceGroups/RestServiceAPIBaymaxResourceGroup/providers/Microsoft.Web/sites/RestServiceAPIBaymax</ResourceId>
    <ResourceGroup>RestServiceAPIBaymaxResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://restserviceapibaymax.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>restserviceapibaymax.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestServiceAPIBaymax</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RestServiceAPIBaymax</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RestServiceAPIBaymaxContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:restserviceapibaymaxdbserver.database.windows.net,1433;Initial Catalog=RestServiceAPIBaymax_db;User ID=DiegoGarzon@restserviceapibaymaxdbserver;Password=W00dst0ck69!" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|RestServiceAPIBaymaxContext-20180528214231.mdf;Initial Catalog=RestServiceAPIBaymaxContext-20180528214231;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RestServiceAPIBaymaxContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=RestServiceAPIBaymaxContext-20180528214231; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|RestServiceAPIBaymaxContext-20180528214231.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RestServiceAPIBaymaxContext-Web.config Connection String">
      <ParameterValue>data source=tcp:restserviceapibaymaxdbserver.database.windows.net,1433;initial catalog=RestServiceAPIBaymax_db;user id=DiegoGarzon@restserviceapibaymaxdbserver;password=W00dst0ck69!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>